div.home {
    padding: 40px 200px;
}

.home .home-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1.title {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--primary-color-1);
}

button.submit-task-btn {
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    background-color: var(--primary-color-1);
}

.home .home-subheader {
    padding: 30px;
    margin: 50px 0;
    background-color: var(--bg-color-1);
    border-radius: 10px;
}

.home-subheader-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.home-subheader-subtitle {
    font-weight: 500;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 0 30px;
}

.main-btn-con {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.main-btn-con button {
    background-color: white;
}

.main-btn-con button img {
    aspect-ratio: 1;
    width: 35px;
    background-color: var(--primary-color-1);
    padding: 10px;
    border-radius: 50%;
}